# PROBLEM SET 2

### Question 1

Consider the following Python module:
a = 0 def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:>>> b() >>> b() >>> b() >>> a?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [2]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

In the initial step, a is assigned value of 0. Then variable b is introduced and a is assigned as a global variable. b variable uses c variable which adds 2 to the value of a. Then the b function is called 3 times and finally the value of a is printed. So in the first output of b() the output would have been 2. Since the command is iterated 3 times hence the final output will be 6.

### Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:>>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last):
File "<pyshell#34>", line 1, in < module > fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: >>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.

In [3]:
def fileLength(a):                                         
    try:                                                    
        f1 = open(a, "r")                                     
        f2 = f1.read()                                               
        print('The filelength is '+ str(len(f2)))         
        f1.close()                                                   
    except:                                                           
        print('File '+a+' not found')

In [4]:
fileLength('Midterm.py')

The filelength is 461

In [5]:
fileLength('idterm.py')

File idterm.py not found

### Question 3

Write a class named Marsupial that can be used as shown below:>>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

In [6]:
class Marsupial(object):                     
  
    def __init__(self):                               
        self.contents = []                     
    def put_in_pouch(self, item):             
        self.contents.append(item)
    def pouch_contents(self):                
        return self.contents

In [7]:
a = Marsupial()
a.put_in_pouch('doll')
a.put_in_pouch('firetruck')
a.put_in_pouch('kitten')
a.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
class Kangaroo(Marsupial):                      
    
    def __init__(self,x,y):                                     
        Marsupial.__init__(self)                 
        self.x = x                                
        self.y = y
                                  
    def jump(self,dx,dy):                         
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):                           
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

Part a) extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

In [9]:
b = Kangaroo(2,3)
print(b)

I am a Kangaroo located at coordinates (2,3)

Part b) supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and

In [10]:
b.put_in_pouch('doll')
b.put_in_pouch('firetruck')
b.put_in_pouch('kitten')
b.pouch_contents()

['doll', 'firetruck', 'kitten']

Part c) overloads the __str__ operator so it behaves as shown below.>>> k = Kangaroo(0,0) >>> print(k)
I am a Kangaroo located at coordinates (0,0) >>> k.put_in_pouch('doll') >>> k.put_in_pouch('firetruck') >>> k.put_in_pouch('kitten') >>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] >>> k.jump(1,0) >>> k.jump(1,0) >>> k.jump(1,0) >>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [11]:
b.jump(1,2)
b.jump(1,2)
b.jump(1,2)
print(b)

I am a Kangaroo located at coordinates (5,9)

### Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops. >>> collatz(1) 1 >>> collatz(10) 10
5
16
8
4
2
1

In [12]:
def collatz(a):                  
   
    if a != 1:                   
        if a%2!=0:                
            print(int(a))         
            collatz(3*a+1)       
        
        else:
            print(int(a))         
            collatz(a/2)          
  
    else:
        print(int(a));

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

### Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. >>> binary(0) 0 >>> binary(1) 1 >>> binary(3) 11 >>> binary(9) 1001

In [15]:
def binary(a):
    
    if a>0:                          
        return (a % 2 + 10*binary(int(a // 2)))
       
    else:
         return 0

In [16]:
binary(0)

0

In [17]:
binary(1)

1

In [18]:
binary(3)

11

In [19]:
binary(9)

1001

In [20]:
binary(15)

1111

### Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html. >>> infile = open('w3c.html') >>> content = infile.read() >>> infile.close() >>> hp = HeadingParser() >>> hp.feed(content) W3C Mission Principles

In [21]:
from html.parser import HTMLParser                               
class HeadingParser(HTMLParser):                      
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head =0                                                          
        self.intend = ""
    def handle_starttag(self, tag, attributes):              
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):                             
        if self.head=="type":
            print(self.intend+ data)                         
            self.intend+= "    "
            self.head=0

In [22]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

### Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. >>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [29]:
from urllib import request
from urllib.parse import urlparse, urljoin
from html.parser import HTMLParser

class WebDirHTMLParser(HTMLParser):
    def __init__(self, base_url, depth, indent):
        super().__init__()
        self.base_url = base_url
        self.depth = depth
        self.indent = indent
        self.current_depth = 0
        self.visited_urls = set()

    def handle_starttag(self, tag, attrs):
        if self.current_depth <= self.depth and tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    url = urljoin(self.base_url, attr[1])
                    if url not in self.visited_urls:
                        self.visited_urls.add(url)
                        print(' ' * self.indent * self.current_depth + url)
                        if self.current_depth < self.depth:
                            self.current_depth += 1
                            self.parse_url(url)

    def parse_url(self, url):
        try:
            response = request.urlopen(url)
            html_content = response.read().decode('utf-8')
            parser = WebDirHTMLParser(url, self.depth, self.indent)
            parser.feed(html_content)
        except:
            pass

def webdir(url, depth, indent):
    parsed_url = urlparse(url)
    base_url = parsed_url.scheme + '://' + parsed_url.netloc
    print(url)
    parser = WebDirHTMLParser(base_url, depth, indent)
    parser.parse_url(url)

In [30]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 0, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
http://reed.cs.depaul.edu/lperkovic/test2.html
http://reed.cs.depaul.edu/lperkovic/test3.html

### Question 8

Write SQL queries on the below database table that return:

City    Country         Season  Temperature (C)  Rainfall (mm)

Mumbai  India           Winter  24.8             5.9

Mumbai  India           Spring  28.4             16.2

Mumbai  India           Summer  27.9             1549.4

Mumbai  India           Fall    27.6             346.0

London  United Kingdom  Winter  4.2              207.7

London  United Kingdom  Spring  8.3              169.6

London  United Kingdom  Summer  15.7             157.0

London  United Kingdom  Fall    10.4             218.5

Cairo   Egypt           Winter  13.6             16.5

Cairo   Egypt           Spring  20.7             6.5

Cairo   Egypt           Summer  27.7             0.1

Cairo   Egypt           Fall    22.2             4.5

In [33]:
import sqlite3
a = sqlite3.connect('database_db')
b = a.cursor()
b.execute("Create Table database_1 (City, Country, Season, Temperature, Rainfall)")
b.execute("Insert into database_1 values ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
b.execute("Insert into database_1 values ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
b.execute("Insert into database_1 values ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
b.execute("Insert into database_1 values ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
b.execute("Insert into database_1 values ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
b.execute("Insert into database_1 values ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
b.execute("Insert into database_1 values ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
b.execute("Insert into database_1 values ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
b.execute("Insert into database_1 values ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
b.execute("Insert into database_1 values ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
b.execute("Insert into database_1 values ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
b.execute("Insert into database_1 values ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
a.commit()
a.close()

In [34]:
import sqlite3
a = sqlite3.connect('database_db')
b = a.cursor()

a) All the temperature data.

In [35]:
b.execute('Select Temperature from database_d ')
for record in b:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

b) All the cities, but without repetition.

In [36]:
b.execute('Select distinct City from database_d ')
for record in b:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

c) All the records for India.

In [37]:
b.execute('Select * from database_d  where Country="India"')
for record in b:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

d) All the Fall records.

In [38]:
b.execute('Select * from database_d  where Season="Fall"')
for record in b:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [39]:
b.execute('Select City, Country, season from database_d  where (rainfall>200) and (rainfall<400)')
for record in b:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [48]:
b.execute('Select City, Country from database_d  where (Season ="Fall") and (Temperature>20) order by Temperature ASC')
for record in b:
    print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo.

In [45]:
b.execute('Select Sum(Rainfall) from database_d  where City="Cairo"')
rainfall_new=b.fetchall()
print(rainfall_new)

[(27.6,)]

h) The total rainfall for each season.

In [49]:
b.execute('Select Season, Sum(Rainfall) from database_d group by Season')
for record in b:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Question 9

Suppose list words is defined as follows: >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

In [51]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [52]:
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [53]:
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words)

In [54]:
[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over',4],['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [55]:
[[a.upper(),a.lower(),len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [56]:
[a for a in words if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']